* {
  margin: 0;
  font-family: sans-serif;
}

// default

.flex {
  display: flex;
}

.banner {
  background: rgb(86, 115, 33);
  .nav {
    padding: 1rem 10rem 2rem 10rem;
    justify-content: space-between;

    .middle {
      gap: 1rem;
    }

    select {
      height: 20px;
    }

    .right {
      gap: 1rem;

      div {
        .fa-solid {
          border: 1px solid black;
          margin-left: -5px;
          height: 19px;
          background: #fff;
        }
      }
    }
  }
}
