* {
  margin: 0;
  font-family: sans-serif;
}

// default

.flex {
  display: flex;
}

select {
  height: 20px;
}

// banner section
.banner {
  background: rgb(86, 115, 33);
  .nav {
    padding: 1rem 10rem 2rem 10rem;
    justify-content: space-between;

    .middle {
      gap: 1rem;
    }

    .right {
      gap: 1rem;

      div {
        .fa-solid {
          border: 1px solid black;
          margin-left: -5px;
          height: 19px;
          background: #fff;
        }
      }
    }
  }
}

// navigation menu

.menu {
  justify-content: space-between;
  background: rgb(70, 142, 95);

  .logo {
    .fa-fire {
      font-size: 2rem;
    }
  }
  .navigation {
    .list {
      gap: 8rem;
      list-style-type: none;
    }
  }
}

//hero section

.hero {
  max-width: 100vw;
  .img {
    background: url(asset/img.jpg);
  }
}
